.asset-default {
    align-self: center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.asset-hover {
    border-left-color: rgb(35, 35, 35);
    border-right-color: rgb(35, 35, 35);
    border-top-color: rgb(35, 35, 35);
    border-bottom-color: rgb(35, 35, 35);
    background-color: rgb(18, 18, 20);
}

.asset-pressed {
    background-color: rgb(37, 37, 41);
}
