ScrollView > VisualElement > Scroller {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
    margin-right: -3px;
}

ScrollView > VisualElement > Scroller > #unity-low-button {
    display: none;
}

ScrollView > VisualElement > Scroller > #unity-high-button {
    display: none;
}

ScrollView > VisualElement > Scroller > #unity-slider {
    margin-top: 0;
    margin-bottom: 0;
}

ScrollView > VisualElement > Scroller #unity-dragger-border {
    background-color: rgb(255, 0, 0);
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
}

ScrollView > VisualElement > Scroller #unity-dragger {
    background-color: rgb(29, 30, 33);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}
